.container {
  background: #00264d;
  margin: 3rem 35%;
  padding: 2rem;
  border-radius: 1rem; }

body {
  background: linear-gradient(to right, #b3cce6, #6699cc); }

.number-btns {
  text-align: center;
  padding-top: 1rem; }

button {
  padding: 7%;
  font-size: 2rem;
  background-color: dodgerblue;
  border-radius: 10px;
  border: 1px solid black; }

.row {
  padding: .25rem; }

.output-area {
  background: #FAFAFA;
  border: 1px solid grey;
  margin: 0 1.4rem;
  text-align: right;
  padding: 1rem 0;
  border-radius: 10px; }

output {
  font-size: 2rem;
  padding-right: 1rem; }

.clear {
  padding: 7% 12%; }

.equals {
  padding: 7% 19%; }

.clear, .operator, .equals, #pos-neg {
  background-color: #80bfff; }

@media (max-width: 910px) {
  .container {
    margin: 2rem 30%; } }

@media (max-width: 682px) {
  .container {
    margin: 1rem 20%; } }

@media (max-width: 462px) {
  .container {
    margin: 1rem 10%; } }

@media (max-width: 355px) {
  .container {
    margin: 1rem 0;
    padding: 1rem 0; } }
