.number-btns {
  text-align: center;
  padding-top: 5rem; }

button {
  padding: 1rem;
  font-size: 2rem;
  background-color: dodgerblue; }

.row-1, .row-2, .row-3, .row-4 {
  padding: .5rem .5rem; }

.output-area {
  border: 1px solid grey;
  margin: 3rem 10rem 0 10rem; }

output {
  font-size: 2rem;
  padding: 2rem; }
